

<form action='/events' method='POST'>
  <h2>Add an event:</h2>
  <label>Name</label><br>
    <input name='name' value='<%= @eventName  %>'><br>
  <label>Address</label><br>
    <input name='location' value = '<%= @eventLocation %>'><br>
  <label>Date</label><br>
    <input name='date' value='<%= @eventDate %>'><br>
  <label>Time</label><br>
    <input name='time' value = '<%= @eventTime  %>'><br>
  <label>Url</label><br>
    <input name='eventUrl' value = '<%= @eventUrl  %>'><br>
  <label>Pick a trip to add to</label><br>
  <button>Submit</button>
</form>
<a href="/trips">Go Home</a>
