<!DOCTYPE html>
<html>
<head>
    <title>Add Your Flight</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<%= stylesheet_link_tag "users" %>
</head>
<body>
<%= render 'shared/header' %>
<div class="opaque-event-show ">
<form action='/flights' method='POST'>
<h2 class="add">Add Your Flight</h2>
    <label>Full Price</label><br>
        <input name='price' class="form-control" value='<%= @price %>'><br>
    <label>Departure time and date (from origin)</label><br>
        <input name='departuredate_time' class="form-control" value='<%=@dateofdeparturefromorigin4  %>'><br>
    <label>Arrival time and date (to destination)</label><br>
        <input name='arrivaldate_time' class="form-control" value='<%=@dateofarrivaltodestination4  %>'><br>
    <label>Flight class (to destination)</label><br>
        <input name='flightclass' class="form-control" value='<%=@classofflighttodestination%>'><br>
    <label>Departure airport (from origin to destination)</label><br>
        <input name='departure_airport' class="form-control" value='<%=@airportyouleavefromtogettodestination%>'><br>
    <label>Arrival airport (from origin to destination)</label><br>
        <input name='arrival_airport' class="form-control" value='<%=@arrivaleairporttodestination%>'><br>
    <label>Flight number (from origin to destination)</label><br>
        <input name='flight_number' class="form-control" value='<%=@todestinationflightnumber%>'><br>
    <label>Airline (from origin to destination)</label><br>
        <input name='airline' class="form-control" value='<%=@outboundairline%>'><br>
    <label>Departure time (from destination to origin)</label><br>
        <input name='returnleavedate' class="form-control" value='<%=@departuretimefromdestination4  %>'><br>
    <label>Arrival time (from destination to origin)</label><br>
        <input name='returnarrivaldate' class="form-control" value='<%=@arrivaltimefromdestination4  %>'><br>
    <label>Flight class (from destination)</label><br>
        <input name='classreturn' class="form-control" value='<%=@classofflightfromdestination%>'><br>
    <label>Departure airport (from destination to origin)</label><br>
        <input name='returnairportdepart' class="form-control" value='<%=@departureairportfromdestination%>'><br>
    <label>Arrival airport (from destination to origin)</label><br>
        <input name='returnairportarrive' class="form-control" value='<%=@arrivalairportfromdestination%>'><br>
    <label>Arrival airline (from destination to origin)</label><br>
        <input name='airlinereturn' class="form-control" value='<%=@inboundairline%>'><br>
    <label>Arrival flight number (from destination to origin)</label><br>
        <input name='flightnumberreturn' class="form-control" value='<%=@flighnumberfromdestination%>'>
    <select name = "trip">
    <% @trips.each do |trip|  %>
     <option name="trip"><%= trip['trip_name']  %></option>

     <% end %>
     </select>
<button>Submit</button>
   </form>
<button><a href="/trips">Go Home</a></button>

     </div>



</body>
</html>


