<!DOCTYPE html>
<html>
<head>
  <title>Your Trips</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<%= stylesheet_link_tag "users" %>
</head>
<body id="bodySec">
<%= render 'shared/header' %>
<div class="opaque-event-show">
<form action='/restaurants' method='POST'>
  <h2>Add a restaurant:</h2>
  <label>Name</label><br>
    <input name='name' value='<%=@restaurantname3  %>'><br>
  <label>Address</label><br>
    <input name='address' value = '<%=@address3  %>'><br>
  <label>FourSquare URL</label><br>
    <input name='restaurant_url' value='<%= @reviewURL3  %>'><br>
      <label>Description/Comments</label><br>
    <input name='restaurant_url' value='Add your comments or description here!'><br>

    <select name = "trip">
    <% @trips.each do |trip|  %>
     <option name="trip"><%= trip['trip_name']  %></option>
     <% end %>
     </select>
  <button>Submit</button>
<a href="/trips">Go Home</a>
<%= javascript_include_tag "randomBackground" %>

</div>
</body>
</html>
